body{
    background-color: rgba(241, 86, 29, 0.993);
}

h1{
    text-align: center;
    font-size: 35px;
    letter-spacing: 30px;
}

p{
    text-align: center;
}

h2{
    color: white;
    font-size: 20px;
    background-color: rgb(192, 4, 4);
    /* border: ; */
    border-left: 5px rgb(1, 1, 97) solid;
    border-top: 5px rgb(177, 2, 2) ridge;
    border-right: 5px rgb(123, 197, 12) solid;
    border-bottom: 5px green solid;

    /* padding: ; */
    padding-left: 25px;
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 100px;

    /* margin: ; */
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 200px;
    margin-bottom: 30px;

}

a{
    color: white;
    background-color: rgb(131, 3, 3);
    
    /* padding: ; */
    padding-left: 5px;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
}

a:hover{
    background-color: white;
    color: black;
}